@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'sans-sarif';
    scroll-behavior: smooth;
}




/* starting header section */

.main-navigation {
    width: 100%;
    height: 4rem;
    display: flex;
    position: fixed;
    top: 0;
    background-color: #485563;
    z-index: 2;
}

.nav-logo {
    width: 136%;
    height: 60px;
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #ffffff;
    letter-spacing: 2px;
    text-transform: uppercase;
}

span {
    color: crimson;
}

.nav-list {
    width: 567%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: burlywood; */
}

.nav-list a {
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 20px;
    transition: all 0.5s ease-out;
}

.registration-sec{
    width: 126%;
    height: 60px;
    display: flex;
    justify-content: right;
    align-items: center;
}
.registration-sec a{
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 20px;
    transition: all 0.5s ease-out;
}
.registration-sec a:hover{
    color: crimson;
}
.nav-list a:hover {
    color: crimson;
}

#home-section {
    width: 100%;
    height: 100vh;
    background-image: url("./bg3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #232020b3;
    background-blend-mode: darken;

}

.home-section-container {
    width: 50%;
    height: 300px;
    /* background-color: aqua; */
    position: absolute;
    top: 200px;
    left: 100px;
    padding: 50px;
    font-size: 3rem;
    color: #ffffff;
    text-transform: capitalize;
}


.home-section-container h2 {
    font-size: 2.3rem;

}

.home-section-container {
    width: 50%;
    height: 300px;
    /* background-color: aqua; */
    position: absolute;
    top: 200px;
    left: 100px;
    padding: 50px;
    font: 3rem;
    color: #ffffff;
    text-transform: capitalize;
}

.home-section-container .container-btn {
    width: 200px;
    padding: 20px;
    border-radius: 40px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 2px;
    background-color: transparent;
    border: 3px solid crimson;
    transition: all 0.5s ease-in-out;
    z-index: 1;
}

.home-section-container .container-btn:hover {
    cursor: pointer;
    border: 3px solid #ffffff;
    background-color: crimson;
    color: #ffffff;
}

/* services sections */
#services-section {
    width: 100%;
    height: 100vh;
    /* background-color: aquamarine; */
    margin-top: 100px;

}

#services-section h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    letter-spacing: 2px;

}

#services-section p {
    text-align: center;
    margin-top: 10px;
}

.services-card-container {
    width: 100%;
    height: 300px;
    margin-top: 50px;
    /* background-color: brown; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-1 {
    width: 25%;
    height: 300px;
    text-align: center;
    color: #ffffff;
    align-content: center;
    padding: 50px;
    background-color: #232020b3;
    margin-right: 10px;
    margin-left: 10px;
    background-image: url("./pythonimg.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    border-radius: 10px;
    box-shadow: 5px 10px 18px #888888;
    transition: all 0.5s ease-in;
}

.card-2 {
    width: 25%;
    height: 300px;
    text-align: center;
    color: #ffffff;
    align-content: center;
    padding: 50px;
    background-color: #232020b3;
    margin-right: 10px;
    margin-right: 20px;
    background-image: url("./ui\ img.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    border-radius: 10px;
    box-shadow: 5px 10px 18px #888888;
    transition: all 0.5s ease-in;
}

.card-3 {
    width: 25%;
    height: 300px;
    text-align: center;
    color: #ffffff;
    align-content: center;
    padding: 50px;
    background-color: #232020b3;
    margin-right: 10px;
    margin-right: 20px;
    background-image: url("./gdimg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    border-radius: 10px;
    box-shadow: 5px 10px 18px #888888;
    transition: all 0.5s ease-in;
}

.card-4 {
    width: 25%;
    height: 300px;
    text-align: center;
    color: #ffffff;
    align-content: center;
    padding: 50px;
    background-color: #232020b3;
    margin-right: 10px;
    margin-right: 20px;
    background-image: url("./seoimg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    border-radius: 10px;
    box-shadow: 5px 10px 18px #888888;
    transition: all 0.5s ease-in;
}

.card-1:hover {
    box-shadow: 30px 30px 25px #888888;
}

.card-2:hover {
    box-shadow: 30px 30px 25px #888888;
}

.card-3:hover {
    box-shadow: 30px 30px 25px #888888;
}

.card-4:hover {
    box-shadow: 30px 30px 25px #888888;
}

/* Project */

#recent-section {
    width: 100%;
    height: 300vh;
    /* background-color: aqua; */
}

#recent-section h1 {
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 100px;

}

.main-wrapper {
    width: 80%;
    height: 50vh;
    /* background-color: antiquewhite; */
    display: flex;
}

.wrapper-one {
    width: 50%;
    height: 60vh;
    color: #ffffff;
    /* background-color: yellowgreen; */
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

.wrapper-two {
    width: 50%;
    height: 60vh;
    color: darkred;
    /* background-color: yellowgreen; */
    background-image: url("./learnf\ img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #232020b3;
    background-blend-mode: darken;
}

.wrapper-two-2{
    width: 50%;
    height: 60vh;
    color: darkred;
    /* background-color: yellowgreen; */
    background-image: url("./lf\ img2.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #232020b3;
    background-blend-mode: darken;
}

.wrapper-two-3{
    width: 50%;
    height: 60vh;
    color: darkred;
    /* background-color: yellowgreen; */
    background-image: url("./lf\ img3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #232020b3;
    background-blend-mode: darken;
}

.wrapper-two-4{
    width: 50%;
    height: 60vh;
    color: darkred;
    /* background-color: yellowgreen; */
    background-image: url("./lf\ img4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #232020b3;
    background-blend-mode: darken;
}

.wrapper-two-5{
    width: 50%;
    height: 60vh;
    color: darkred;
    /* background-color: yellowgreen; */
    background-image: url("./lf\ img5.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #232020b3;
    background-blend-mode: darken;
}

/* profilo section */

#profile{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

.main-profile{
    width: 80%;
    height: 80%;
    /* background-color: antiquewhite; */
}

.right-port{
    width: 350px;
    height: 400px;
    border: 10px solid crimson;
    margin-top: 120px;
}
.right-port-img{
    width: 350px;
    height: 400px;
    margin-top: -30px;
    margin-left: 30px;
    background-image: url("./profile.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.left-port-about{
    width: 800px;
    height: 400px;
    margin-left: 400px;
    margin-top: -400px;
}

.left-port-about h1{
    font-size: 4rem;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.left-port-about h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 10px;
}

.left-port-about p{
    text-align: justify;
    padding-top: 10px;
}

.profile-btn{
    width: 300px;
    padding: 20px;
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 15px;
    color: black;
    letter-spacing: 2px;
    background-color: transparent;
    border: 3px solid crimson;
    transition: all 0.5s ease-in-out;
}

.profile-btn:hover{
    cursor: pointer;
    border: none;
    background-color: crimson;
}

/* Contact info */

.contact-heading{
    font-size: 4rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

#contact-section{
    width: 80%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    margin-left: 140px;
}

.contact-1{
    width: 600px;
    height: 200px;
    margin: auto;
    margin-left: 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #888888;
    transition: all 0.2s ease-out;
}

.contact-1:hover{
    box-shadow: 1px 2px 5px #888888;
}

.contact-1 h1{
    font-size: 2.5rem;
    text-align: center;
}
.contact-1 p{
    text-align: center;
}

i{
    color: crimson;
    font-size: 3rem;
    margin-left: 150px;
    padding-top: 10px;
}

/* Footer */
 
.footer-sec{
    width: 100%;
    height: 300px;
    margin-top: 200px;
    background-color: #29323c;
    color: #ffffff;
}

.footer-sec h1{
    color: #ffffff;
    font-size: 3rem;
    text-align: center;
    padding-top: 100px;
}

.footer-sec p{
    font-size: 18px;
    padding-top: 30px;
    text-align: center;
}

/* #imgs1{
    width: 150px;
    height: 150px;
    padding-top: 80px;
    margin-left: 900px;
}
#imgs2{
    width: 170px;
    height: 150px;
    padding-top: 120px;
    margin-left: 750px;
}
#imgs3{
    width: 150px;
    height: 150px;
    padding-top: 100px;
    margin-left: 1000px;
}
#imgs4{
    width: 150px;
    height: 150px;
} */